openapi: 3.2.0
info:
  title: D&B Direct+ Research API
  description: D&B Direct+ is Dun & Bradstreet's RESTful API platform that exposes the D&B Data Cloud — more than 500 million companies worldwide — for identity resolution, search, enrichment, multi-process (match plus enrich), batch processing, change monitoring, and historical research.
  version: '3.0'
  contact:
    name: D&B Direct+ Support
    url: https://service.dnb.com/
  termsOfService: https://www.dnb.com/utility-pages/terms-of-use.html
  license:
    name: Proprietary
    url: https://www.dnb.com/utility-pages/terms-of-use.html
servers:
- url: https://plus.dnb.com
  description: Production
tags:
- name: Research
  description: Retrieve historical responses for audit and reconciliation.
paths:
  /v2/audit/duns/{duns}:
    get:
      tags:
      - Research
      summary: Retrieve Historical Audit Record
      description: Retrieve a historical Direct+ response previously returned for a D-U-N-S Number, supporting audit, dispute, and reconciliation use cases.
      operationId: getAuditRecord
      security:
      - bearerAuth: []
      parameters:
      - name: duns
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{9}$
      - name: transactionTimestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Historical record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        transactionDetail:
          $ref: '#/components/schemas/TransactionDetail'
        error:
          type: object
          properties:
            errorMessage:
              type: string
            errorCode:
              type: string
            errorDetails:
              type: array
              items:
                type: object
    AuditResponse:
      type: object
      properties:
        duns:
          type: string
        transactionTimestamp:
          type: string
          format: date-time
        originalResponse:
          type: object
    TransactionDetail:
      type: object
      properties:
        transactionID:
          type: string
        transactionTimestamp:
          type: string
          format: date-time
        inLanguage:
          type: string
        serviceVersion:
          type: string
  responses:
    NotFound:
      description: Resource not found for the supplied identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
